.sidebar {
  background-color: #2f2f2f;
  width: 220px;
  min-height: calc(100vh - 120px);
  padding-top: 16px;
}


.menuList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menuItem {
  margin-bottom: 16px;
}

.menuLink {
  text-decoration: none;
  color: white;
  font-size: 16px;
  display: block;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
}

.menuLink:hover {
  background-color: #444;
  color: #ddd;
}

.active {
  color: white;
  font-weight: 600;
}

